.cartContainer{
    background-color:royalblue ;
    display: flex;
    flex-direction: column;
}

.cartContainer h2{
    text-align: center;
    font-size:2rem ;
    color: white;
    padding: 1rem 1rem; 
}

.cartContainer a{
    align-self: center;
    margin-bottom: 1rem;
    
}
.cartContainer button{
    align-self: center;
    margin: 2rem 2rem;
    
}
.cartContainer span{
    border:cornflowerblue 2px solid;
    border-radius: 12px;
    padding: 0.5rem 0.5rem;
}

.cartContainer hr{
    background-color: cornflowerblue;
    border: none;
    height: 3px;
}