*{
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    margin: 4rem 4rem;
}

.card img{
    width: 160px;
    height: 160px;
    margin: 1.5rem 1.5rem;
    align-self: center;
    object-fit: contain;
}

.card h3{
    font-size: 1.6rem ;
    margin: 1rem 1rem;
}

.card h4{
    font-size: 2rem ;
    margin: 1rem 1rem;
}

.card p {
    font-size: 1.2rem;
    margin: 1.5rem 1.5rem;
}
.card button{
    padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
    button{
        width: 10rem;
        padding: 0.5rem 1rem;
    }
  }