*{
    margin: 0rem 0rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    border: solid royalblue 10px;
}

.card img{
    width: 200px;
    height: 200px;
    margin: 1.5rem 1.5rem;
    align-self: center;
    object-fit: contain;
}

.card h3{
    font-size: 1.6rem ;
    margin: 2rem 2rem;
}

.card h5{
    font-size: 1.6rem ;
    margin: 2rem 2rem;
}

.card p {
    font-size: 1.5rem;
    margin: 2rem 2rem
}