*{padding: 0;}
.cart {
    color: #A9A9A9;
    display: flex;
    align-items: center;
}
.cart svg{
    width: 1.5rem;
    height: 1.5rem;
}
.cart h4{
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .cart svg{
        width: 3rem;
        height: 3rem;
    }
  }