.card{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin: 2rem 0.5rem;
    text-align: center;
    color: white;
    border: solid #FFE4E1 3px;
    border-radius: 12px;
}

.card img{
    width: 160px !important;
    height: 160px !important;
    margin: 1.5rem 1.5rem;
    align-self: center;
    object-fit: contain;
}

.card h3{
    font-size: 1.6rem ;
    margin: 2rem 2rem;
}



/* From cssbuttons.io by @NorthFishHasNa */
.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFE4E1;
    align-self: center;
    border: none;
    color: #a9a9a9 !important;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #a9a9a9;
    font-weight: bold;
   }
   
   .btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .btn:hover span {
    padding-right: 15px;
   }
   
   .btn:hover span:after {
    opacity: 1;
    right: 0;
   }