.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #A9A9A9;
}
.LabelContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 1.5rem;
}

.InputContact {
    border-style: none;
    border-bottom: 2px solid #FFE4E1;
    width: 85vw;
    height: 20px;
    margin-top: 10px;
    padding: 8px 5px;
    background: transparent;
    outline: none;
    font-size: 1.5rem;
     color: #A9A9A9;
}

.InputContact:-webkit-autofill,
.InputContact:-webkit-autofill:hover, 
.InputContact:-webkit-autofill:focus, 
.InputContact:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}